================================

/*## INDEX PAGE ##*/

=================================


body {
  font-family: "Ubuntu", sans-serif;
  color: #65676f;
}
a {
  text-decoration: none;
}


=================================
/*####### NAV ########*/
=================================



nav {
  position: absolute;
  width: 100%;
  top: 300px;
  background-color: #FF0059;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  transition: height 0.6s 0.6s;
  left: 0;
}
.fixed-nav {
  position: fixed;
  height: 35px;
  top: 0px;
}
.logo-box {
  display: flex;
  align-items: center;
  transition: margin-left 0.6s
}
.fixed-logo-box {
  margin-left: 20%;
}
.logo {
  height: 25px;
  width: 30px;
  border: thick solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  transition: border-color 0.6s, transform 0.6s;
}
.logo div {
  height: 8px;
  width: 10px;
  border: thick solid white;
  transition: border-color 0.6s, transform 0.6s;
}
.logo-title {
  color: white;
  font-weight: bold;
  padding: 0.7em;
  transition: color 0.6s;
}
.fixed-logo {
  border-color: #FF0059;
  color: #FF0059;
  transform: rotate(360deg);
}
.logo-box:hover .logo {
  border-color: #1CFFCA;
}
.logo-box:hover .logo div {
  border-color: #1CFFCA;
  transform: rotate(180deg);
}
nav ul {
  display: flex;
  margin-right: 1em;
  transition: margin-right 0.6s;
}
.fixed-links {
  margin-right: 20%;
}
nav ul li a {
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 1.5em;
}
nav ul li a:hover {
  color: #1CFFCA;
}

===================================
/*####### HEADER #########*/
===================================

header {
  position: relative;
  height: 300px;
  z-index: 1;
  background-color: #2e313d;
}
.intro-background {
  height: 100%;
  width: 100%;
  background-image: url("http://images6.fanpop.com/image/photos/36000000/nature-mother-nature-36002556-1920-1080.jpg");
  background-size: cover;
}
.intro-heading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 0px;
  height: 300px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}
.intro-heading h1 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.logo-heading {
  height: 25px;
  width: 30px;
  border: thick solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  transition: border-color 0.6s, transform 0.6s;
}
.logo-heading div {
  height: 8px;
  width: 10px;
  border: thick solid white;
  transition: border-color 0.6s;
}
.intro-heading:hover .logo-heading {
  border-color: #1CFFCA;
}
.intro-heading:hover .logo-heading div {
  border-color: #1CFFCA;
}



=================================

/*##### MAIN CONTENT #########*/

=================================
main {
  position: relative;
  margin-top: 56px;
  padding: 2em 0;
  line-height: 1.8;
  background-color: #f0f1e7;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.main-content {
  width: 70%;
}
.main-content h2 {
  font-size: 28px;
}
.main-content p {
  margin: 1em 0px;
}