{% extends 'bootstrap/base.html'%}
<div class="container-fluid">
    <nav class="navbar navbar-fixed-top navbar-header" style="background-color: #FF945A;">
        <div class = "row text-center"></div>
        <h1>CodeWars API</h1>
    </nav>

    <div id="kata-container">
          <div class = "row text-center">
            <h2 id="kataHolder"> Your Code Challenge Will Appear Here</h2>
              <br>
              <h3 id="kataAuthor"></h3>

            <div class = "centre">Select difficulty
              <levelgroup>
            <label><input type="radio" name="level" id="easy"> Easy</label>
            <label><input type="radio" name="level" id="medium"> Medium</label>
            <label><input type="radio" name="level"id="hard"> Hard</label>
              </levelgroup>
            <button id = "getKata" class = "btn btn-primary btn-lg">
                Get Challenge
            </button>

              </div>
          </div>
    </div>
</div>


