{% extends 'base.html' %}


{% block content %}
<nav>
  <a href="" class="logo-box">
    <figure class="logo"><div></div></figure>
    <div class="logo-title">Border Logo</div>
  </a>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Sign in</a></li>
    <li><a href="">Profile</a></li>
    <li><a href="">Sign in</a></li>
  </ul>
</nav>
<header>
  <section class="intro-background"></section>
  <article class="intro-heading">
    <h1>CODE KATA </h1>
    <figure class="logo-heading"><div></div></figure>
  </article>
</header>
<main>
  <article class="main-content">
    <h2>Main Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eleifend enim at justo dapibus, at pharetra lorem hendrerit. Praesent eget vulputate enim. Aenean hendrerit congue laoreet. Sed et porttitor ipsum. Cras imperdiet ut tortor ut sodales. Nunc at posuere purus. Ut sit amet augue tincidunt, tincidunt mi in, mollis urna. Morbi tincidunt sit amet lacus nec aliquet. Etiam sollicitudin at nibh quis aliquet. Maecenas placerat a libero quis posuere. Nullam vel interdum diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent convallis orci lorem, eget pharetra dolor consectetur nec. Vivamus laoreet tortor pretium, volutpat turpis at, venenatis quam. Integer lacinia at dui nec volutpat.</p>
    <p>Duis commodo molestie porta. Integer aliquet, tellus ut interdum euismod, diam metus blandit ipsum, non lacinia arcu erat a metus. Curabitur ultrices tincidunt ante, et faucibus dolor vehicula nec. Suspendisse sit amet turpis pharetra, posuere erat in, fringilla lorem. In hac habitasse platea dictumst. Mauris pharetra placerat sapien sed sollicitudin. Vestibulum vel pulvinar enim. Aliquam erat volutpat. Suspendisse leo urna, pretium in fringilla sed, pretium sed diam. Duis vitae mi nunc.</p>
    <p>Proin pharetra molestie tortor, et accumsan dui varius sit amet. Pellentesque tincidunt leo ut mollis laoreet. Nulla facilisi. Pellentesque ac justo elit. Fusce at nisl metus. Sed tempus felis vitae odio tincidunt ornare. Fusce enim erat, ornare vitae tincidunt vel, venenatis sollicitudin ante. Praesent eu commodo eros. Phasellus egestas erat eu libero ultricies, vel malesuada metus pretium. Maecenas et risus sollicitudin, placerat nisl sed, varius augue. Nullam bibendum enim id ex hendrerit mattis. Phasellus porta nec eros eu finibus.</p>
    <p>Nulla dapibus sapien vitae metus lobortis egestas. Etiam neque risus, iaculis rhoncus porta sed, sollicitudin vel erat. Donec eget massa vel quam commodo vulputate non eget turpis. Sed semper volutpat commodo. Fusce euismod nisi at lectus sollicitudin luctus. Nulla laoreet ante vitae accumsan semper. Nunc pellentesque tortor eget dictum egestas. Quisque vitae malesuada arcu, eget imperdiet diam. Maecenas ornare, ex sed hendrerit scelerisque, lacus justo volutpat magna, a sodales felis nisi et lectus. Cras ultrices fermentum felis.</p>
    <p>Mauris sit amet venenatis metus. Phasellus bibendum commodo lectus sed imperdiet. Aliquam erat volutpat. Praesent vitae consequat lectus. Donec ultrices, ligula in viverra lacinia, ligula felis varius mi, eu pellentesque leo tellus ut sapien. Pellentesque non sapien ac nulla dignissim lobortis. Nulla semper, arcu imperdiet venenatis interdum, nisi sapien rhoncus orci, ut dignissim diam nisl et justo. Fusce auctor massa vestibulum consectetur accumsan.</p>
    <p>Curabitur lobortis, libero et interdum accumsan, quam nulla facilisis leo, in cursus augue erat eget tellus. Praesent ut diam lorem. Ut felis mauris, varius eu sagittis nec, cursus nec nisl. Mauris sagittis orci in risus volutpat dapibus. Duis semper et elit et pellentesque. Vestibulum faucibus, sapien nec finibus fringilla, lorem sapien finibus sapien, at vestibulum urna diam eu massa. Duis vitae vestibulum lorem. Cras id neque scelerisque, ornare lectus sit amet, lacinia velit. Sed sed interdum est. Sed justo est, accumsan vitae neque in, condimentum tempus nisl. Phasellus tincidunt est at dolor accumsan, cursus aliquet neque fermentum. Pellentesque nec nulla malesuada, dapibus sapien at, vestibulum massa. Pellentesque consequat, risus in luctus rutrum, odio purus fermentum orci, vitae iaculis metus ligula vel mi. Cras at laoreet ligula. Quisque ullamcorper diam et tortor sollicitudin, a consectetur diam varius. Nunc ac metus sit amet dui condimentum tincidunt.</p>
    <p>Aenean porta tortor a nisl commodo pharetra quis a quam. Pellentesque ut rhoncus nulla. Fusce egestas quam quam, eu hendrerit augue sodales vitae. Aenean in eleifend nulla. Nulla vitae sodales nisl. Sed vitae commodo libero. Donec ornare, est in suscipit vulputate, magna nisi condimentum lacus, non rutrum diam sapien eu sem. Praesent a lorem imperdiet, aliquam ante in, convallis ante. Etiam eget blandit massa. Praesent tempus, metus ac convallis lacinia, libero augue feugiat ipsum, ac rhoncus diam lorem et augue. Suspendisse et ornare velit, et euismod ex. Donec id lacinia arcu.</p>
    <p>Vivamus nunc arcu, accumsan eget tellus vitae, ullamcorper pretium ipsum. Curabitur elementum massa ut tincidunt semper. Praesent vestibulum blandit tellus, in vestibulum tortor euismod non. Phasellus maximus odio id purus ultrices blandit. Aenean laoreet felis vitae pellentesque tincidunt. Aliquam id mi fringilla, placerat mauris eu, auctor nisl. In metus lacus, auctor non tincidunt vitae, placerat in turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut consequat tempor odio, nec vehicula purus elementum sed. Cras viverra mi magna, bibendum suscipit ante mattis sit amet. Etiam posuere libero quis tortor aliquam tincidunt. Fusce gravida ex in placerat hendrerit. Morbi pharetra aliquet elit et molestie. Aliquam metus tellus, gravida at fringilla quis, elementum vitae neque.</p>
  </article>
</main>

{% endblock %}