{% extends 'base.html'%}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" type="text/css" media="screen" href="main.css" />-->
    <!--<script src="main.js"></script>-->
</head>
<body style="background-image: url({{ url_for('static', filename='images/bg2.jpg') }});background-repeat: no-repeat; background-size: cover">
<h1 style="text-align: center; font-size: 150px; color: red; padding-top: 10%">DATEKATA</h1>
 <h4 style="color: orange; text-align: center; font-size: 60px">~love is not found,It's developed</h4>
<div class="container">
    <form>
        <input type="text" name="user_query" placeholder="Search for a User" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div>
</body>
</html>
{% endblock %}