{% macro displayKata(kata) %}
    {% for kata in katas %}
        <div class="list-group">
            <p class="list-group-item list-group-item-action active">
            {{ kata.title }}
            </p>
            <p class="list-group-item list-group-item-action">
                {{ kata.kata }}
            </p>
        </div>
    {% endfor %}
{% endmacro %}
{% macro displayUser(user) %}
{% for us in user %}
     <div class="list-group">
            <h3 class="list-group-item list-group-item-action active">
            {{ us.username }}
            </h3>
            <p class="list-group-item list-group-item-action ">
             {{ us.language }} Genius
            </p>
            <p class="list-group-item list-group-item-action active"> Connect with {{us.username}} via {{ us.email }}</p>
     </div>
{% endfor %}
{% endmacro %}
