#background
.navbar.navbar-fixed-top
  %nav.navbar-inner.header
    .container
      .brand
        IN THE CLOUDS <i class="fa fa-cloud" style="text-shadow: 1px 1px white, -1px -1px #666;"></i>

      %ul.nav.pull-right
        %li
          %a.nav-link
            TUTORIALS
        %li
          %a.nav-link
            MODELS
        %li
          %a.nav-link
            PLACES
        %li.dropdown
          %a.dropdown-toggle.nav-link{:"data-toggle" => "dropdown"}
            DROP
            %ul.dropdown-menu.text-center
              %li
                %a
                  Example 1
              %li
                %a
                  Example 2
              %li
                %a
                  Example 3


      .triangle-down.center
        %p 
          %i.fa.fa-chevron-down.fa-2x#toggle.isDown

  %br

#content
  .row-fluid
    .span12{:style => "background-color:rgba(0, 0, 0, .8);"}
      .row-fluid
        .span4.offset4

          %br
          %h1.threed.text-center{:style => "letter-spacing:4px"}
            THIS IS A TITLE

      .row-fluid
        .span4.offset4
          %h1.threed.text-center{:style => "letter-spacing:10px;margin-top:-30px;"}
            ___________
      .row-fluid
        .span6.text-right
          .row-fluid
            %h2.threed
              What should go into this box?
            
          .row-fluid
            %h4
              Lorem ipsum dolor sit amet, quodsi impedit neglegentur id mea. Solum quando ubique has eu. Eu usu latine nostrud, sit temporibus suscipiantur id. Quo nulla aliquid deterruisset eu, id legere vidisse per, sed saperet consulatu deterruisset ne.
          %br
          .row-fluid
            .btn
              CLICK ME
              %i.fa.fa-heart
              

          
        .span6.text-left
          .span5.text-center
            %i#big-cloud.fa.fa-cloud{:style => "text-shadow: 1px 1px white, -1px -1px #666;"}
          .span6.text-left
            %h5 Lorem ipsum dolor sit amet, quodsi impedit neglegentur id mea. Solum quando ubique has eu. Eu usu latine nostrud, sit temporibus suscipiantur id. Quo nulla aliquid deterruisset eu, id legere vidisse per, sed saperet consulatu deterruisset ne.
            %h5 Lorem ipsum dolor sit amet, quodsi impedit neglegentur id mea. Solum quando ubique has eu. Eu usu latine nostrud, sit temporibus suscipiantur id.
            
      %br
      
  %br

  .row-fluid
    .span12{:style => "background-color:rgba(0, 0, 0, .8);"}
      .span4
        .row-fluid
          %h1.threed.text-left
            WHO
        .row-fluid
          %h1.threed.text-center
            WE &nbsp
        .row-fluid
          %h1.threed.text-right
            ARE ...
        %br
      .span8
        %br
        %br
        .span2
          %img.team-img{:src => "http://placehold.it/100x100"}
        .span2.offset1
          %img.team-img{:src => "http://placehold.it/100x100"}
        .span2.offset1
          %img.team-img{:src => "http://placehold.it/100x100"}
        .span2.offset1
          %img.team-img{:src => "http://placehold.it/100x100"}
  %br
  .row-fluid
    .span12{:style => "background-color:rgba(0, 0, 0, .8);"}
      .span6
        .row-fluid
          .span1.text-center
            %h3
              &nbsp<i class="fa fa-skype text-left"></i>
          .span11.text-right
            %h3
              + 1 707 707 7007
        .row-fluid
          .span1.text-center
            %h3
              &nbsp<i class="fa fa-envelope text-left"></i>
          .span11.text-right
            %h3
              INFO@INTHECLOUDS.COM
        .row-fluid
          .span1.text-center
            %h3
              &nbsp<i class="fa fa-twitter text-left"></i>
          .span11.text-right
            %h3
              @INTHECLOUDS
        .row-fluid
          .span1.text-center
            %h3
              &nbsp<i class="fa fa-facebook text-left"></i>
          .span11.text-right
            %h3
              FACEBOOK.COM/INTHECLOUDS
          
      .span6
        .span10.offset1.text-center
          %h2 GET IN TOUCH
          %i.fa.fa-comments.fa-4x
          %h4
            Lorem ipsum dolor sit amet, quodsi impedit neglegentur id mea. Solum quando ubique has eu. Eu usu latine nostrud, sit temporibus suscipiantur id.
            
//cloud footer :)
.navbar.navbar-fixed-bottom
  %nav.navbar-inner.footer
%br
%br
%br
%br